doctype html
html
	head
		link(rel="stylesheet" href="/styles/main.min.css")

	body
		div.container-header
			div.container
				header
					include src/header/index.pug	
		main
			include src/main/index.pug
		footer