.footer-nav
	margin-left: 65px;
	&__wrap
		display: grid;
		grid-template-columns: repeat(4, 60px);
		grid-column-gap: 55px;
		
		&-colmn
			display: grid;
			grid-tempate-rows: repeat(4, 11px);
			grid-row-gap: 7px;
			text-transform: capitalize;