.about
	.about-title
		span about us
	.about-text
		span Divide have don`t man wherein air fourth. Own itself make have night won`t make. 
		span A you under Seed appear which good give. Own give air withhout fowl moveth dry first
		span heaven fruit, dominion she`d wont very all.
	img.about-signature(alt="signature" src="images/signature.png")