.works
	.works-row1
		.works-row1__elem
			.works-row1__elem-static.saturated_grey
			.works-row1__elem-hover.saturated_grey
				img(alt="hover" src="images/hover.png")
		.works-row1__elem
			.works-row1__elem-static.light_grey
			.works-row1__elem-hover.light_grey
				img(alt="hover" src="images/hover.png")
		.works-row1__elem
			.works-row1__elem-static.saturated_grey
			.works-row1__elem-hover.saturated_grey
				img(alt="hover" src="images/hover.png")
		.works-row1__elem
			.works-row1__elem-static.light_grey
			.works-row1__elem-hover.light_grey
				img(alt="hover" src="images/hover.png")
	.works-row2
		.works-row2__elem
			.works-row1__elem-static.light_grey
			.works-row1__elem-hover.light_grey
				img(alt="hover" src="images/hover.png")
		.works-row2__elem
			.works-row1__elem-static.saturated_grey
			.works-row1__elem-hover.saturated_grey
				img(alt="hover" src="images/hover.png")
		.works-row2__elem
			.works-row1__elem-static.light_grey
			.works-row1__elem-hover.light_grey
				img(alt="hover" src="images/hover.png")
		.works-row2__elem
			.works-row1__elem-static.saturated_grey
			.works-row1__elem-hover.saturated_grey
				img(alt="hover" src="images/hover.png")
	.works-loadmore
		span load more work