.footer-nav
	.footer-nav__wrap
		.footer-nav__wrap-colmn
			a(href="#")
				span projects
			a(href="#")
				span about
			a(href="#")
				span services
			a(href="#")
				span carreer
		.footer-nav__wrap-colmn
			a(href="#")
				span news
			a(href="#")
				span events
			a(href="#")
				span contact
			a(href="#")
				span legals
