/*containers styles*/
.container
	width: 1170px;
	margin: 0 auto;
	// background-color: red;
	height: auto;
		
	&-header
		background-color: grey;		
	&-about
		background-color: white;
@import "header/main.styl"
@import "main/main.styl"	