/*containers styles*/
.container
	width: 80%;
	max-width: 1170px;
	margin: 0 auto;
	// background-color: red;
	height: auto;
		
	&-header
		background-color: grey;		
	&-about
		background-color: white;
	&-project
		background-color: grey;	
	&-footer
		display: grid;
		grid-template-columns: 300px 200px 160px 160px; 
		grid-column-gap: 100px;
@import "header/main.styl"
@import "main/main.styl"
@import "footer/main.styl"