.services
	.services-row1
		.services-row1__elem
			.services-row1__elem-img
				img(src="images/ui.png")
			.services-row1__elem-title
				span ui/ux design
			.services-row1__elem-text
				span be set fourth lang god darkness
				span make it wherein own		
		.services-row1__elem
			.services-row1__elem-img
				img(src="images/web_development.png")
			.services-row1__elem-title
				span web development
			.services-row1__elem-text
				span a she`d them bring void moving
				span third she`d kind fill
		.services-row1__elem
			.services-row1__elem-img
				img(src="images/app_mobile.png")
			.services-row1__elem-title
				span app/mobile
			.services-row1__elem-text
				span dominion man second spirit he,
				span earth they`re creeping
		.services-row1__elem
			.services-row1__elem-img
				img(src="images/game_design.png")
			.services-row1__elem-title
				span game design
			.services-row1__elem-text
				span morning his saying moveth it
				span multiply appear life be
	.services-row2
		.services-row2__elem
			.services-row2__elem-img
				img(src="images/seo_marketing.png")
			.services-row2__elem-title
				span seo/marketing
			.services-row2__elem-text
				span give won`t after lang fill creeping
				span meat you, may

		.services-row2__elem
			.services-row2__elem-img
				img(src="images/photography.png")
			.services-row2__elem-title
				span photography
			.services-row2__elem-text
				span creepeth one seas cattle grass
				span give moving saw give

		.services-row2__elem
			.services-row2__elem-img
				img(src="images/graphic_design.png")
			.services-row2__elem-title
				span graphic design
			.services-row2__elem-text
				span open, great whales air rule for,
				span fourth kife whales

		.services-row2__elem
			.services-row2__elem-img
				img(src="images/illusrtation.png")
			.services-row2__elem-title
				span illustration
			.services-row2__elem-text
				span whales likeness hath,man kind,
				span for them air two won`t			

