.clients
	.clients-row
		.clients-row__elem
			img(alt="handmade" src="images/handmade.png")
		.clients-row__elem
			img(alt="mountain" src="images/mountain.png")
		.clients-row__elem
			img(alt="collection" src="images/collection.png")
		.clients-row__elem
			img(alt="mountainbike" src="images/mountain_bike.png")
		.clients-row__elem
			img(alt="handmade" src="images/handmade.png")
