.achievements-background
	div.container
		.achievements
			.achievements-elem
				.achievements-elem__icon
					img(alt="project" src="images/project.png")
				.achievements-elem__right
					.achievements-elem__right-count
						span 548
					.achievements-elem__right-text
						span projects completed
			.achievements-elem
				.achievements-elem__icon
					img(alt="working hours" src="images/working_hours.png")
				.achievements-elem__right
					.achievements-elem__right-count
						span 1465
					.achievements-elem__right-text
						span working hours
			.achievements-elem
				.achievements-elem__icon
					img(alt="feedback" src="images/feedback.png")
				.achievements-elem__right
					.achievements-elem__right-count
						span 612
					.achievements-elem__right-text
						span positive feedback
			.achievements-elem
				.achievements-elem__icon
					img(alt="happy" src="images/happy.png")
				.achievements-elem__right
					.achievements-elem__right-count
						span 735
					.achievements-elem__right-text
						span happy clients