.skils
	.skils-background
		.skils-background__left
		.skils-background__right
	.container.skils-cont
		.skils-left
			.skils-block
				.skils-block__title
					span profesional skills
				.skils-block__elem
					.skils-block__elem-title
						span ui/ux design 75%
					.range
				.skils-block__elem
					.skils-block__elem-title
						span web development 90%
					.range
				.skils-block__elem
					.skils-block__elem-title
						span marketing 65%
					.range
		.skils-right