 
.header
	height: 670px; 
	&-head
		display: flex;
		flex-direction: row;
		
		
	&-slogan
		margin: 0;
		padding: 0;
		color: black;
		display: block;
		width: 490px;
		margin-top: 162px;
		margin-left: calc(100% - 504.5px);
		font-stretch:expanded;
		
		&__title 
			font-weight: 600;
			font-size: 35px;
			font-family: serif;
			font-stretch: condensed;
			
		&__text span
			display: block;
			color: text_grey;
			text-align: left;
			margin: 0;
			padding: 0;
			font-size: 17px;
			margin-top: 30px;
			font-family: Serif
			font-stretch: condensed;
			line-height: 24px;
		
		&__btn
			color: text_grey;
			margin-top: 42px;
			margin-left: 4px;
			width: 180px;
			height: 55px;
			display: block;
			background-color: turquoise;
			border: none;
			color: white;
			font-size: serif;
			text-transform: uppercase;

 @import "header/main.styl";
 @import "nav/main.styl";
 
