.nav
	display: block;
	margin-top: 43px; 
	margin-left: 525px;
	
	.ul-nav
		list-style-type: none;
		display: flex;
		flex-directoion: row;
		justify-content: space-between;
		width: 615px;
		
		.li-nav
			// margin-left: 30px;
			// width: 38px;
			text-align: center;
			display: block;
			font-size: 11px;
			text-transform: uppercase;
			font-family: serif;
			font-stretch:expanded;
			letter-spacing: 1px;
			font-weight: 700;

			a
				color: black;
				
			a:hover
				color: hover;