@import "about/main.styl"
@import "skils/main.styl"
@import "achievements/main.styl"
@import "work/main.styl"
@import "work_process/main.styl"
@import "services/main.styl"
@import "testimonials/main.styl"
@import "testimonials/slick_js.styl"
@import "clients/main.styl"
@import "need_a_project/main.styl"