div.container-about
	div.container
		include about/index.pug	
div.container-skils
	include skils/index.pug
	
include achievements/index.pug
div.container
	include work/index.pug
	include work_process/index.pug
div.container-header
	div.container
		include services/index.pug
div.container-testimonials
	div.container
		include testimonials/index.pug
div.container-skils
	div.container
		include clients/index.pug
div.container-project
	div.container
		include need_a_project/index.pug