footer
	background-color: footer_back;
	height: 285px;
	width: 100%;
	color: white;
	padding-top: 100px;
	font-size: 14px;
a
	color: white;
@import "company/main.styl"
@import "contacts/main.styl"
@import "nav/main.styl"
@import "soc/main.styl"